@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#swiper-color .swiper-button-next {
    color: #E6C279
}

#swiper-color .swiper-button-prev {
    color: #E6C279
}

#swiper-color .swiper-pagination-bullet-active {
    background-color: #E6C279
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 1;
      column-gap: 2rem;
    }
    .masonry-sm {
      column-count: 2;
      column-gap: 2rem;
    }
    .masonry-lg {
      column-count: 3;
      column-gap: 2rem;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}