---
import AboutUs from "../components/about-us.astro";
import ContactUsForm from "../components/contact-us-form";
import { FadeIn } from "../components/fade-in";
import Gallery from "../components/gallery.astro";
import Hero from "../components/hero.astro";
import Services from "../components/services.astro";
import Testimonials from "../components/testimonials.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="Home">
  <Hero />

  <div class="bg-white flex">
    <p
      class="flex items-center text-secondary font-medium lg:text-4xl md:text-3xl text-2xl text-center mx-auto my-10 px-4"
    >
      Locally Owned & Operated. Serving the Corridor & Eastern Iowa.
    </p>
  </div>

  <AboutUs />

  <FadeIn client:load>
    <Services />
  </FadeIn>

  <FadeIn client:load>
    <Gallery />
  </FadeIn>

  <FadeIn client:load>
    <Testimonials />
  </FadeIn>

  <FadeIn client:load>
    <div class="my-8 md:mt-16 md:mb-32 mx-8">
      <h2
        class="flex sm:justify-center font-semibold text-4xl sm:text-5xl text-secondary mb-7 uppercase"
      >
        Contact Us
      </h2>

      <p
        class="font-light text-base text-secondary sm:text-center max-w-xl mx-auto mb-10"
      >
        Need our professional services for your home or business? Fill out this
        form to contact us today about our competitive rates and satisfaction
        guarantee!
      </p>

      <div class="flex justify-center text-secondary">
        <ContactUsForm client:visible />
      </div>
    </div>
  </FadeIn>
</Layout>
