---
import { getImage } from "astro:assets";

import banner from "../assets/banner.jpg";
import { FadeIn } from "./fade-in";

type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;

const backgroundImage = await getImage({ src: banner, format: "webp" });
---

<div
  class="lg:h-96 h-80 bg-cover bg-center bg-no-repeat bg-blend-darken bg-black/30"
  style={`background-image: url(${backgroundImage.src})`}
>
  <FadeIn client:load>
    <div class="lg:h-96 h-80 flex justify-center items-center">
      <h1
        class="lg:text-6xl md:text-5xl text-4xl font-bold text-white uppercase tracking-wide"
      >
        {pageTitle}
      </h1>
    </div>
  </FadeIn>
</div>
